<div class="login d-flex align-items-center py-5 bg-image">
    <div class="container">
        <div class="card" style="background-color:rgba(24, 26, 27, 0.9); min-width: 550px; max-width: 50%; margin: auto;">
                    <a class="login-heading text-center mt-4" style="margin-bottom: 5%;"><img src="assets/atlas_white.png" width="120px"></a>
                    <div class="ml-5 mr-5">
                    <h3 class="login-heading mb-4" style="color: rgba(209, 205, 199);">Create an account</h3>
                    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmitRegister()">
                        <div class="row">
                            <div class="input-group">
                                <div class="col-6">
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="FirstName" name="FirstName"
                                            placeholder="Frist name" formControlName="FirstName">
                                        <label for="FirstName">First name</label>
                                        <label for="FirstName" class="text-danger"
                                            *ngIf="service.formModel.get('FirstName').touched && service.formModel.get('FirstName').errors?.minlength">First
                                            name is to short.</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="LastName" name="LastName"
                                            placeholder="Last name" formControlName="LastName">
                                        <label for="LastName">Last name</label>
                                        <label for="LastName" class="text-danger"
                                            *ngIf="service.formModel.get('LastName').touched && service.formModel.get('LastName').errors?.minlength">Last
                                            name is to short.</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-label-group">
                            <input type="text" class="form-control" id="UserName" name="UserName"
                                formControlName="UserName" placeholder="Username" required>

                            <label for="UserName">Username</label>

                            <label for="UserName" class="text-danger"
                                *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.minlength">Username
                                is to short.</label>
                            <label for="UserName" class="text-danger"
                                *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.pattern && !service.formModel.get('UserName').errors?.minlength">
                                Username is invalid.</label>

                        </div>
                        <div class="form-label-group">
                            <input type="text" class="form-control" id="Email" name="Email" placeholder="Email"
                                formControlName="Email" required>

                            <label for="Email">Email</label>

                            <label for="Email" class="text-danger"
                                *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">
                                Email is invalid.</label>
                            <label for="Email" class="text-danger"
                                *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.pattern">
                                Email is invalid.</label>
                        </div>

                        <div class="form-label-group">
                            <input (keypress)="this.service.numberOnly($event)" type="text" class="form-control"
                                id="PhoneNumber" name="PhoneNumber" placeholder="Phone number"
                                formControlName="PhoneNumber" minlength="10" maxlength="16" required>
                            <label for="PhoneNumber">Phone number</label>
                        </div>

                        <div formGroupName="Passwords">
                            <div class="form-label-group">
                                <input type="password" class="form-control" id="Password" name="Password"
                                    placeholder="Password" formControlName="Password" required>
                                <label for="Password">Password</label>
                                <label for="Password" class="text-danger"
                                    *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">
                                    Password is to short.</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword"
                                    placeholder="Confirm password" formControlName="ConfirmPassword" required>
                                <label for="ConfirmPassword">Confirm password</label>
                                <label for="ConfirmPassword" class="text-danger"
                                    *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
                                    password
                                    doesn't match.</label>
                            </div>
                        </div>
                        <div class="form-label-group">
                            <select class="form-control" id="AssigneedProject" name="AssigneedProject"
                                formControlName="AssigneedProject" placeholder="Assigneed Project" [(ngModel)]="AssigneedValue" required>
                                <option [ngValue]="null" [disabled]="true">Select the assigneed project</option>
                                <option *ngFor="let project of service.projectList" value={{project.ProjectKEY}}>
                                    {{project.ProjectKEY}}</option>
                            </select>

                        </div>
                        <div class="form-label-group">
                            <select class="form-control" id="Rank" name="Rank"
                                formControlName="Rank" placeholder="Rank" [(ngModel)]="RankValue" required>
                                <option [ngValue]="null" [disabled]="true">Select a position</option>
                                <option value="IT Support">IT Support</option>
                                <option value="IT Leader">IT Leader</option>
                                <option value="Developer">Developer</option>
                                <option value="Lead Developer">Lead Developer</option>
                                <option value="Tester">Tester</option>
                                <option value="QC Lead">QC Lead</option>
                                <option value="Project Manager">Project Manager</option>
                                <option value="Release Manager">Release Manager</option>
                            </select>

                        </div>
                        <button type="submit" [disabled]="!service.formModel.valid"
                            class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 mt-4">Sign
                            In</button>
                        <div class="text-center mb-3">
                            <a class="small" (click)="this.service.onLoginRedirect()">Already have an
                                account?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>